<div class ="container-fluid">
  <br/>
  <div class ="btn-group float-right">
    <button class = "btn btn-primary" routerLink="/profile"> Profile</button>
  </div>
  <br/>
  <br/>
  <input id = "coins" readonly = "readonly" class="form-control float-right col-2" value = "crypto: {{user.crypto}}"/>

  <h4> Welcome To Work Garage !!!  {{user.username}}</h4>
  <br/>

  <div>

    <label for = "title">Title</label>
    <input [(ngModel)] = "title" class="form-control"
      id = "title" placeholder="title of your work" />
  </div>

<div>
  <label for ="repeatSelect"> Select a category for your work</label>
  <select class="form-control" size="6px"
          name="repeatSelect" id="repeatSelect" [(ngModel)] = "category">
    <option value = "Science"> Science</option>
    <option value = "Technology"> Technology</option>
    <option value = "Computer"> Computer Science </option>
    <option value = "Arts"> Arts & Literature </option>
    <option value = "Algorithm"> Algorithms</option>
    <option value = "Mathematics"> Mathematics</option>
  </select>
  <div>



    <div>
    <label for = "points">Coins</label>
    <input [(ngModel)] = "points" class="form-control" type = "number"
             id = "points" placeholder="Crypto you will give for the reviewing process" />
  </div>



  <div>
    <label for = "rubric">Rubric</label>
    <textarea [(ngModel)] = "rubric" class="form-control"
                id = "rubric" placeholder="Any key points you want reviewer to focus" ></textarea>
  </div>


  <div>
    <label for = "description">Description</label>
    <textarea [(ngModel)] = "description" class="form-control"
                id = "description" placeholder="Describe this work you want to get reviewed!!!" ></textarea>
  </div>
  <br/>


<button (click)="createWork()" class = "btn btn-success btn-block"> Create Work</button>

  <br/>

</div>

