<div class ="container">
  <button routerLink='/profile' class =" btn float-left"> Profile</button>
<br/>
  <br/>
  <input class ="form-control col-2 float-right" readonly = "readonly" id ="coins" value = "crypto: {{user.crypto}}"/>


  <h4> Reviewer's Profile : {{reviewer.title}}</h4>
  <br/>
  <input class ="form-control col-2 float-right" readonly = "readonly" id ="rating" value = "upvotes: {{reviewer.rating}}"/>
  <br/>

  <div [hidden] = "reviewerStatus">
    <label for = "reviewerName">  Enter your Reviewer Profile's Title</label>
    <input class = "form-control " id = "reviewerName" [(ngModel)] = "title" placeholder="Profile's Title"/>

    <label> Select field/fields that you have knowledge of:</label>
    <select class="form-control" size="6px"
            name="repeatSelect" id="repeatSelect" [(ngModel)] = "fields" multiple>
      <option value = "Science"> Science</option>
      <option value = "Technology"> Technology</option>
      <option value = "Computer"> Computer Science </option>
      <option value = "Arts"> Arts & Literature </option>
      <option value = "Algorithm"> Algorithms</option>
      <option value = "Mathematics"> Mathematics</option>
    </select>
    <br/>
    <button class="btn btn-primary form-control" (click)="createReviewer()"> Add</button>
  </div>
  <br/>



    <div  [hidden]="!reviewerStatus">
      <div class = "row">

  <ul
    class ="list-group col-8 ">
    <li class ="list-group-item active">
      Your Selected Areas of Expertise
    </li>
    <br/>
    <li *ngFor = "let field of reviewer.fields"
      class = "list-group-item">
      {{field}}
      <i class =" icons fa fa-trash fa-2x float-right" (click)="deleteField(field)"></i>
    </li>
  </ul>



  <div class="col-4">
  <select class="form-control" size="6px"
          name="repeatSelect"  [(ngModel)] = "fields2" multiple>
    <option value = "Science"> Science</option>
    <option value = "Technology"> Technology</option>
    <option value = "Computer"> Computer Science </option>
    <option value = "Arts"> Arts & Literature </option>
    <option value = "Algorithm"> Algorithms</option>
    <option value = "Mathematics"> Mathematics</option>
  </select>
    <br/>
    <button (click)="updateFields()" class ="btn btn-primary form-control float-right"> Update</button>
    <br/>

  </div>
    </div>

<br/>
      <h4> List of available work for review</h4>
      <br/>

      <table class =" table table-responsive table-striped">
        <thead>
        <tr>
          <th>
            Title
          </th>
          <th> Category</th>
          <th> Action</th>

        </tr>
        </thead>
        <tbody>

        <tr *ngFor = "let work of availableWork">
          <td>{{work.title}}</td>
          <td> {{work.category}}</td>
          <td><button class="btn btn-success"
            routerLink="/submitReview/work/{{work._id}}/reviewer/{{reviewer._id}}">
            Evaluate
          </button>
          </td>
          <td></td>
        </tr>
        </tbody>
        <br/>
        <br/>
      </table>


<h4> List of Work Reviewed By You</h4>
      <ul class ="list-group">
          <li class="list-group-item active ">
            <div class = "row">
              <div class ="col-2">
                Work
              </div>
              <div class ="col-2">
                Score (max = 5)
              </div>
              <div class ="col-2">
               Category
              </div>
              <div class ="col-6">
                Time
              </div>
              </div>
            </li>
        <br/>


          <li  class ="list-group-item"
             *ngFor = "let review of reviewedWork">
            <div class ="row">
            <div class = "col-2">{{review.work.title}} </div>
            <div class ="col-2"> {{review.score}}
            </div>
            <div class ="col-2"> {{review.work.category}}</div>
            <td class ="col-6"> {{review.timeStamp}}</td>
            </div>
          </li>

          </ul>

    </div>


  </div>




