<div class = "container-fluid">
<h3> Review Creator</h3>

  <div class ="row container-fluid">
<input class = "form-control col-5" readonly = "readonly" value = "Work Title: {{work.title}}" />
  <input class = "form-control col-5" readonly = "readonly" value = "Creation Date:
  {{work.timeStamp.substring(0,24)}}"/>
    <input class = "form-control col-2" readonly = "readonly" value = "Crypto Points: {{work.points}}"/>
  </div>

  <label> Description</label>
  <textarea class = "form-control" readonly = "readonly" value = {{work.description}}></textarea>

  <label> Rubric</label>
  <textarea class = "form-control" readonly = "readonly" value = {{work.rubric}}></textarea>
<br/>



 <div class>
   <label for = "submitReview"> Write your review here</label>
   <br/>
  <textarea [(ngModel)] = "review"
    id = "submitReview" class ="form-control col-10" placeholder = "Review Space"></textarea>
   <br/>

   <label for ="selectScore"> Select a score for this work</label>
   <br/>

    <select [(ngModel)] = "score" class ="float-left form-control col-4 " id ="selectScore">
      <option value = '1'> 1</option>
      <option value = '2'> 2</option>
      <option value = '3'> 3</option>
      <option value = '4'> 4</option>
      <option value = '5'> 5</option>
    </select>

 <br/>
   <br/>
  </div>
  <button [hidden]="submitStatus"
          class ="btn btn-success btn-block" (click)="submitReview()"> Submit Review </button>
<br/>

</div>
